* {
  margin: 0;
  padding: 0;
}

body {
  /*width: 1920px;*/
  width: 100vw;
  /*height: 3754px;*/
  /* box-sizing: border-box;
  margin:0 auto o auto;*/
}
@font-face {
  font-family: "helvetica_bold";
  src: url(./helvetica_neue_bold.ttf);
}
@font-face {
  font-family: "helvetica_light";
  src: url(./helvetica_neue_light.ttf);
}
@font-face {
  font-family: "helvetica_roman";
  src: url(./helvetica_neue_roman.ttf);
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 79px 0 39px;
}
.right_header {
  display: flex;
  flex-direction: column;
}
.right_header a {
  text-decoration: none;
  height: 50%;
  margin-left: 20px;
}
.tire {
  width: 51px;
  height: 3px;
  background-color: #4d4d4d;
  margin-top: 6px;
}
.headphone {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.headphone h2 {
  width: 506px;
  height: 112px;
  box-sizing: border-box;
  font-family: helvetica_bold;
  font-size: 84px;  
  text-align: left;
  color: #4d4d4d;
  text-align: center;
}
.headphone p {
  width: 620px;
  height: 75px;
  box-sizing: border-box;
  font-family: helvetica_light;
  font-size: 24px; 
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.add {
  width: 200px;
  height: 72px;
  font-family: helvetica_roman;
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.headphone_pic {
  /*max-width: 846px;*/
  /*height: 846px;*/
  max-width: 48%;
  max-height: 48%;
}


/*პროდუქტი - ყურსასმენის*/
.hero_cont {
  width: 700px; 
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buycart {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.tobuy {
  width: 180px;
  height: 72px;
  border-radius: 5px;
  background-color: #d1c6c6d2;
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
  margin-right: 30px;
}
.headphone_prod {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headphone_prod h3 {
  width: 698px;
  height: 35px;
  font-family: Helvetica_light;
  font-size: 32px;
  color: #4d4d4d;
}
.headphone_prod h2 {
  width: 258px;
  height: 60px;
  font-family: Helvetica_bold;
  font-size: 50px;
  color: #4d4d4d;
}
.headphone_prod p {
  font-family: helvetica_light;
}
/*პროდუქტი ყურსასმენი მორჩა*/

/*პროდუქტის სია -Product List*/
.hexagon_list {
  width: 1520px;
  margin:0 auto 0 auto;
}
.zeplinproduct {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border: solid 1px #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto 20px auto;
  padding: 40px;
  position: relative;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about h3 {
  width: 257px;
  height: 35px;
  font-family: helvetica_light;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #4d4d4d;
  margin-bottom: 40px;
}

.select_list {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.heartcart_list {
  width: 100px;
  height: 72px;
  display: flex;
  justify-content: space-between;
}
.buy_list {
  width: 180px;
  height: 72px;
}
.price {
  width: 143px;
  /*height: 32px;*/
  font-family: helvetica_light;
  font-size: 24px;
  position: absolute;
  top: 107px;
  right: 80px;
}
/*პროდუქტის სია -Product List - დასასრული*/

.hero_product {
  width: 90%;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  margin: 0 auto 100px auto;

}

/* ტრიო პროდუქციის ჩამონათვალი*/
.trio {
  width: 90vw;
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.trio li {
width:480px;
display: flex;
flex-direction: row;
align-items: flex-end;
}
.trio p {
  display: flex;
  align-self: center;
  font-family: helvetica_Bold;
  font-size: 24px;
  margin-left: 25px;
}
.tiretrio {
  width: 46px;
  height: 7px;
  background-color: #4d4d4d;
  display: flex;
  align-self: flex-end;
}
 /*ტრიოს დასასრული*/
.most {
  width: 70%;
  height: 50px;
  margin: 0 auto 0 auto;
  /*margin-left: 9%;*/
  margin-top: 126px;
}
.most h2 {
  width: 320px;
  height: 43px;
  font-family: helvetica_roman;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}

/* მეორე Ul 6 ელემენტიანი*/
.hexagon {  
  width: 1740px;
  /*height: 1050px;*/
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hexagon li {
  width: 480px;
  /*height: 471px;*/
  margin: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.select {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* 3 სურათიანი სტატიკური ზოლი*/
.downpics {
  width: 90%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: raw;
  justify-content: space-evenly;
}
.downpics li {
  max-width: 483px;
  height: 290px;
  position: relative;
}
.downpics li p {
  height: 31px;
  font-family: helvetica_light;
  font-size: 23px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: 22px;
  left: 38px;
  z-index: 1;
}
.number {
  width: 77px;
  height: 77px;
  background-color: #ffffff;
  font-family: helvetica_light;
  font-size: 40px;
  color: #4d4d4d;
  position: absolute;
  bottom: 31px;
  left: 31px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.ffooter {
  width: 100%;
  height: 348px;
  margin-top: 10px;
  background-color: slategray;
  position: relative;
}
.finish {
  width: 90%;
  height: 236px;
  margin: 20px auto 0 auto;
  display: flex;  
  flex-direction: row;
  align-items: center;
}

.text {
  width: 90%;
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  margin-left: 30px;
}
.middle {
  display: flex;
  flex-direction: column;  
}
.bigline {
  width: 1500px;
  height: 5px;
  background-color: #ffffff;
  z-index: 3;
}
.social {
  width: 150px;
  height: 93px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: 200px;
  bottom: 32px;
}
@media screen and (max-width: 400px){
.right_header {
  display: none;
}
.headphone h2 {
  width: 120px;
  height: 27px;
  font-size: 20px;
}
.headphone p {
  width: 312px;
  height: 74px;
  font-size: 14px;
}
.headphone_pic {
  width: 230px;
  height: 230px;
}
.hero_cont {
  width:80vw;
}
.hero_product {
  flex-direction: column-reverse;
  margin-bottom: 0;
  align-items: center;
}
.add {
  width:40vw;
  height: 50px;
  margin:20px auto 0 auto;
}
.trio {
  
  flex-direction: column;
}
.trio li {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin:30px;
}

.tiretrio { 
  align-self: center;
  height: 2px;
}
.most {
  width:70vw;
}
.hexagon {
  width:80vw;
  margin:0 auto 0 auto;
  height: auto;
  flex-direction: column;
  padding: 0;
}
.hexagon li {
  width:90%;
  align-items: center;
  margin:0;
}
.select {
  justify-content: space-around;
}
.downpics {  
  flex-direction: column;   
}
.downpics li {
  margin:20px; 
}
.ffooter {
  background-color:#ffffff;
}
.middle {
  display: none;
}
.finish {
  flex-wrap: wrap;
}
.social {
  flex-direction: column;
}

}