body {
    max-width: 1920px;
    height: 3754px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right_header a {
    text-decoration: none;
    height: 50%;    
}
.tire {
    width: 51px;
    height: 3px;
    background-color: #4d4d4d;
    position: absolute;
    right: 10vw;
    top:40px
  }

.headphone h2 {
    width: 506px;
    height: 112px;
    font-family: HelveticaNeue;
    font-size: 84px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #4d4d4d;
}
.headphone p {
    max-width: 620px;
    height: 75px;
    font-family: HelveticaNeue-UltraLigCondObl;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4d4d;
}
.add {
    width: 200px;
  height: 72px;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  display: flex;
  text-align: center;
}

.headphone_pic {
    max-width: 846px;
    height: 846px;
}

.hero_content {
    width: 994px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero_product {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px;
}

/*პროდუქციის ჩამონათვალი*/
.production {
width: 100%;
display: flex;
flex-direction: row;
}
.monitori {
    width: 480px;
    height: 231px;
    display: flex;
    flex-direction: raw;
    margin-left:9%;
}
.monitori p {
    display: flex;
    align-self: center;
    font-family: HelveticaNeue-Bold;
    font-size: 24px;
}
.tiremonitori {
    width: 46px;
    height: 7px;
    background-color: #4d4d4d; 
    display: flex; 
    align-self: flex-end;
  }