* {
  margin: 0;
  padding: 0;
}

body {
  /*width: 1920px;*/
  width: 100%;
  /*height: 3754px;*/
  /* box-sizing: border-box;
  margin:0 auto o auto;*/
}
@font-face {
  font-family: "helvetica_bold";
  src: url(./helvetica_neue_bold.ttf);
}
@font-face {
  font-family: "helvetica_light";
  src: url(./helvetica_neue_light.ttf);
}
@font-face {
  font-family: "helvetica_roman";
  src: url(./helvetica_neue_roman.ttf);
}

header {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
 padding:20px 20px 0 20px;
}
.right_header {
  display: flex;
  flex-direction: column;
}
.right_header a {
  text-decoration: none;
  height: 50%;
  margin-left: 20px;
}
.tire {
  width: 51px;
  height: 3px;
  background-color: #4d4d4d;
  margin-top: 6px;
}
.hero_product {
  /*width: 90vw;*/  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  margin: 0 auto 3% auto;
}
.headphone {
  /*height: 80%;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.headphone h2 {
  /*width: 506px;*/
  width:29%;
  /*height: 112px;*/
  box-sizing: border-box;
  font-family: helvetica_bold;
  font-size: 84px;  
  text-align: left;
  color: #4d4d4d;
  text-align: center;
}
.headphone p {
  /*width: 620px;*/
  width:100%;
  /*height: 75px;*/
  box-sizing: border-box;
  font-family: helvetica_light;
  font-size: 24px; 
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.add {
  width: 200px;
  height: 72px;
  font-family: helvetica_roman;
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.headphone_pic {
  /*max-width: 846px;*/
  /*height: 846px;*/
  max-width: 48%;
  max-height: 48%;
}


/*პროდუქტი - ყურსასმენის*/
.hero_headphone {
  width: 90vw;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  margin: 0 auto 3% auto;
}
.hero_cont_headphone {
  /*width: 700px;*/ 
  /*height: 400px;*/
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buycart {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.tobuy {
  width: 180px;
  height: 72px;
  border-radius: 5px;
  background-color: #d1c6c6d2;
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
  margin-right: 30px;
}
.headphone_prod {
  width: 100%;
  height: 70%; 
}

.headphone_prod h3 {
  /*width: 698px; */
  width: 100%;
  font-family: Helvetica_light;
  font-size: 32px;
  color: #4d4d4d;
}
.headphone_prod h2 {
  /*width: 258px;*/ 
  width:35%; 
  font-family: Helvetica_bold;
  font-size: 47px;
  color: #4d4d4d;
}
.headphone_prod p {
  font-family: helvetica_light;
}
/*პროდუქტი ყურსასმენი მორჩა*/

/*პროდუქტის სია -Product List*/
.hexagon_list {
  /*width: 1520px;*/
  width: 84vw;
  margin:0 auto 0 auto;
}
.zeplinproduct {
  width: 100%;  
  border-radius: 10px;
  border: solid 1px #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto 20px auto;
  padding: 40px;
  position: relative;
}
.about {  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about h3 {
 /* width: 257px;*/
 width:17%;
  /*height: 35px;*/
  font-family: helvetica_light;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #4d4d4d;
  /*margin-bottom: 40px;*/
}

.select_list {
  /*width: 450px;*/
  width:29%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.heartcart_list {
  /*width: 100px;*/
  width:26%;
  height: 72px;
  display: flex;
  justify-content: space-between;
}
.buy_list {
  /*width: 180px;*/
  width:40%;
  height: 72px;
}
.price {
  width: 143px;  
  font-family: helvetica_light;
  font-size: 24px;
  position: absolute;
  top: 107px;
  right: 80px;
}
/*პროდუქტის სია -Product List - დასასრული*/



/* ტრიო პროდუქციის ჩამონათვალი*/
.trio {
  width: 90%;
  margin: 170px auto 50px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.trio li {
max-width:480px;
height: 342px;
display: flex;
flex-direction: row;
align-items: flex-end;
}
.trio p {
  display: flex;
  align-self: center;
  font-family: helvetica_Bold;
  font-size: 24px;
  margin-left: 25px;
}
.tiretrio {
  width: 46px;
  height: 7px;
  background-color: #4d4d4d;
  display: flex;
  align-self: flex-end;
}
 /*ტრიოს დასასრული*/
.most {
  width: 70%;
  height: 50px;
  margin: 0 auto 0 auto;  
  margin-top: 126px;
}
.most h2 {
  width: 320px;
  height: 43px;
  font-family: helvetica_roman;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}

/* მეორე Ul 6 ელემენტიანი*/
.hexagon {  
  width: 1740px;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hexagon li {
  width: 480px; 
  margin: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.select {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.heartcart {
  width:30%;
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
}
/* 3 სურათიანი სტატიკური ზოლი*/
.downpics {
  width: 90%;
  /*margin: 0 auto 0 auto;*/
  display: flex;
  flex-direction: raw;
  justify-content: space-evenly;
}
.downpics li {
  max-width: 483px;
  height: 290px;
  position: relative;
}
.downpics li p {
  height: 31px;
  font-family: helvetica_light;
  font-size: 23px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: 22px;
  left: 38px;
  z-index: 1;
}
.number {
  width: 77px;
  height: 77px;
  background-color: #ffffff;
  font-family: helvetica_light;
  font-size: 40px;
  color: #4d4d4d;
  position: absolute;
  bottom: 31px;
  left: 31px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.ffooter {
  width: 100%;
  height: 348px;
  margin-top: 10px;
  background-color:#e7e4e4d5;
  position: relative;
}
.finish {
  width: 95%;
  height: 236px;
  margin: 0 auto 0 auto;
  display: flex;  
  flex-direction: row;
  align-items: center;
}

.text {
  width: 90%;
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  margin-left: 30px;
}
.middle {
  display: flex;
  flex-direction: column;  
}
.bigline {
  width: 90%;
  height: 3px;
  margin:0 auto 0 auto;
  background-color: #615f5fa2;
  z-index: 3;
}
.social {
  width: 150px;
  height: 93px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: 5%;
  bottom: 10%;
}
.burger_icon {
  display: none;
}
.burger_menu {
  display: none;
}
@media screen and (max-width: 992px){
  .headphone h2 {
    font-size: 48px;
  }
  .headphone p {
    font-size:20px;
  }
  .trio li {
    width:243px;
    height: 173px;
  }
  .hexagon {
width: 95vw;
justify-content: space-evenly;
  }
  .hexagon li {
    width: 244px;
    margin:1px;
  }
  .burger_icon {
    display: none;
  }
}
 

@media screen and (max-width: 360px){
.right_header {
  display: none;
}

.headphone h2 {
  width: 120px;
  height: 27px;
  font-size: 20px;
}
.headphone p {
  width: 312px;
  height: 74px;
  font-size: 14px;
}
.headphone_pic {
  width: 230px;
  height: 230px;
}
.hero_cont {
  width:80vw;
}
.hero_product {
  flex-direction: column-reverse;
  margin-bottom: 0;
  align-items: center;
}
.add {
  width:40vw;
  height: 50px;
  margin:20px auto 0 auto;
}
.trio {
  margin:0 auto 30px auto;  
  flex-direction: column;
}
.trio li {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom:30px;
}
.trio p {
  font-size:16px;
}


.tiretrio { 
  align-self: center;
  height: 2px;
}
.most {
  width:70%;
  margin:20px;  
}
.most h2 {
  font-size: 18px;
  text-align: center;
}
.hexagon {
  width:80vw;
  margin:0 auto 0 auto;
  height: auto;
  flex-direction: column;
  padding: 0;
}
.hexagon li {
  width:100%;
  align-items: center;
  margin:0;
}
.hexagon li img {
  width:70%;
}

.select {
  justify-content: space-around;
  height: 33px;
}
.heartcart img {
width: 31px;
height: 28px;
}
.downpics {  
  flex-direction: column;   
}
.downpics li {
  width:90%;
  height: auto;
  margin:20px; 
}
.ffooter {
  background-color:#ffffff;

}
.middle {
  display: none;
}
.finish {
  flex-wrap: wrap;
  height: 90%;
  align-items: flex-start; 
}
.social {
  flex-direction: column;
  height: 140px;
}
.text {
  width:60%;
  height: 90%; 
  font-size:12px;
  display: flex;
  flex-direction:column-reverse;
  justify-content:space-between;
  margin:0;  
}
.text p {
  display: flex;
 position: absolute; 
  bottom: 210px;  
}
address {
  width:60%;
  height: 30%;  
  font-size:14px;  
}

.bigline {
  width:300px;
  height: 4px;
  background-color: black;
  position: absolute;
  bottom: 180px;
}
/*product 320*/
.hero_headphone {
  flex-direction: column;
  align-items: center;
}
.hero_cont_headphone {
  width: 100%;
}
.headphone_prod h3 {
width:80%;
  font-size: 16px;
}
.headphone_prod h2 {
  font-size: 19px;
}
.headphone_prod p {
  font-size: 11px;
}
.headphone_prod h2 {
  width:35%; 
}
/* Product List 320*/
.zeplinproduct {
  width:90vw;
  height: 50vw;
  padding:0; 
}
.zeplinproduct img {
width:30vw;
height: 30vw;
display: flex;
align-self: center;
}
.about {
  justify-content: flex-start;
  margin-right: 20px;
}
.about h3 {
  width:60%;
  font-size: 21px;
}
.about p {
  font-size: 14px;
}
 .select_list {
   width:60%;
   position: absolute;
   left:30%;
   bottom:3%;
 } 
 .heartcart_list { 
  width:40%;
  height: 52px;  
}
.buy_list {  
  width:40%;
  height: 48px;
}
/*ბურგერ მენიუ*/
.burger_icon {  
  width:30px;
  height: 15px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  right: 10px;
  top:20px;  
}
.tire1 {
  width:16px;
  height: 2px;
  background-color: black;
}
.tire2 {
  width:24px;
  height: 2px;
  background-color: black;
}
.burger_menu { 
  width:58vw;
  height: 100vh;
  background-color: black;
  /*display: none;
  flex-direction: column;
  justify-content: space-between;*/
  position: fixed;
  top:60px;
  left:129px;
  right: 0;
  z-index: 10;
}
.myLinks {
  width:100%;
  height:280px;
  margin: 120px auto auto auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  z-index: 11;
}
.myLinks a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
.appear {
  display: flex;
}
/* PRODUCT_List 360*/
.heartcart_list {
  justify-content: space-around;
}
.heartcart_list img {
  width: 14px;
  height: 14px;
}
.about h3 {
  font-size:15px;
}
.price {
  width: 76px;
  font-family: helvetica_light;
  font-size: 14px;
  position: absolute;
  top: 80px;
  right: 3px;
}
.buy_list {
  width: 100px;
  height: 40px;
}


}